    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
        background: linear-gradient(to right, #474545, #e3e6e3);
    }
    
    .heading {
        text-align: center;
        margin-top: 50px;
        font-style: italic;
        font-size: 20px;
        color: #3b3939;
    }
    
    hr {
        border: dotted #EAF6F6 6px;
        border-bottom: none;
        width: 4%;
        margin: auto;
        margin-top: 20px;
    }
    
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .calculator {
        background-color: #3c3d3d;
        padding: 15px;
        border-radius: 30px;
        box-shadow: inset 5px 5px 12px #7e7878, 5px 5px 12px rgba(0, 0, 0, .16);
        display: grid;
        grid-template-columns: repeat(4, 68px);
        background: linear-gradient(to right, #8f8f8f, #e3e6e3);
    }
    /*#ecf0f3*/
    
    input {
        height: 70px;
        width: 260px;
        background-color: #3c3d3d;
        box-shadow: inset -5px -5px 12px #7e7878, 5px 5px 12px rgba(0, 0, 0, .16);
        border: none;
        border-radius: 30px;
        color: rgb(70, 70, 70);
        font-size: 50px;
        text-align: end;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 20px;
        grid-column: 1 / -1;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        word-wrap: break-word;
        word-break: break-all;
        background: linear-gradient(to right, #8f8f8f, #e3e6e3);
    }
    
    button {
        height: 48px;
        width: 48px;
        background-color: #3c3d3d;
        box-shadow: -5px -5px 12px #7e7878, 5px 5px 12px rgba(0, 0, 0, .16);
        border: none;
        border-radius: 50%;
        margin: 10px;
        font-size: 20px;
        background: linear-gradient(to right, #8f8f8f, #e3e6e3);
    }
    
    .operator {
        box-shadow: -5px -5px 12px #2c2c2b, 5px 5px 12px rgba(0, 0, 0, .16);
        background: linear-gradient(to right, #8f8f8f, #e3e6e3);
    }
    
    .equal {
        width: 115px;
        border-radius: 40px;
        background-color: #2b2c2a;
        box-shadow: -5px -5px 12px #7e7878, 5px 5px 12px rgba(0, 0, 0, .16);
        background: linear-gradient(to right, #8f8f8f, #e3e6e3);
    }